<h1>Add a new actor</h1>

<form action="http://localhost:3000/create_actor">
  <div>
    <label for="actor_name">Name:</label>
    <input id="actor_name" type="text" name="the_name">
  </div>
  <div>
    <label for="actor_bio">Bio:</label>
    <input id="actor_bio" type="text" name="the_bio">
  </div>
<div>
    <label for="actor_dob">DOB:</label>
    <input id="actor_dob" type="text" name="the_dob">
  </div>
<div>
    <label for="actor_image_url">Image URL:</label>
    <input id="actor_image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create actor</button>
  </div>
</form>
