<h1>Add a new movie</h1>

<form action="http://localhost:3000/create_movie">
  <div>
    <label for="movie_title">Title:</label>
    <input id="movie_title" type="text" name="the_title">
  </div>
  <div>
    <label for="movie_year">Year:</label>
    <input id="movie_year" type="text" name="the_year">
  </div>
  <div>
    <label for="movie_duration">Duration:</label>
    <input id="movie_duration" type="text" name="the_duration">
  </div>
  <div>
  <label for="movie_description">Description:</label>
    <input id="movie_description" type="text" name="the_description">
  </div>
  <div>
    <label for="movie_image_url">Image URL:</label>
    <input id="movie_image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create movie</button>
  </div>
</form>
