<h1>Add a new director</h1>

<form action="http://localhost:3000/create_director">
  <div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="text" name="the_name">
  </div>
  <div>
    <label for="director_bio">Bio:</label>
    <input id="director_bio" type="text" name="the_bio">
  </div>
<div>
    <label for="director_dob">DOB:</label>
    <input id="director_dob" type="text" name="the_dob">
  </div>
<div>
    <label for="director_image_url">Image URL:</label>
    <input id="director_image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create director</button>
  </div>
</form>
